@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Statistics home page</h1>
</div>
<div>
    <p>Navigate by menu to concrete statistic and functions</p>
</div>